@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic);
		
body {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 200;
	color: #fff;
	background-color: rgba(38,65,108,1);
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.login-page {
	background-color: #fff;
}

strong {
	font-weight: 600;
}

a:link, a:visited {
	text-decoration: none;
	color: #fff;
}

.form {
	margin-bottom: 20px;
	font-size: 18px;
}

.add-form {
	margin-bottom: 10px;
	font-size: 16px;
	margin-top: 15px;
}

.large {
	font-size: 24px;
	font-weight: 200px;
}

input {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 200;
	color: rgba(38,65,108,1);
	padding: 3px;
	padding-left: 4px;
	margin-left: 20px;
	width: 200px;
}

.login-input {
	font-size: 18px;
}

.white-button {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: rgba(54,93,150,1);
	padding: 10px 20px;
	background-color: #fff;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#ffffff));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid #003366;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0);
}

.white-button:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.darkblue-button {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 16px;
	color: #fff;
	padding: 10px 20px;
	margin: 0;
	background-color: rgba(38,65,108,1);
	background: -moz-linear-gradient(
		top,
		rgba(38,65,108,1) 0%,
		rgba(38,65,108,1));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(38,65,108,1)),
		to(rgba(38,65,108,1)));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid #003366;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(38,65,108,1);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(38,65,108,1);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(38,65,108,1);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(38,65,108,1);
}

.darkblue-button:hover {
	background-color: rgba(38,65,108,.5);
	background: -moz-linear-gradient(
		top,
		rgba(38,65,108,.5) 0%,
		rgba(38,65,108,.5));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(38,65,108,.5)),
		to(rgba(38,65,108,.5)));
}

.darkblue-button:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background-color: rgba(38,65,108,1);
	background: -moz-linear-gradient(
		top,
		rgba(38,65,108,1) 0%,
		rgba(38,65,108,1));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(38,65,108,1)),
		to(rgba(38,65,108,1)));
}

.lightblue-button {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 16px;
	color: #fff;
	padding: 10px 20px;
	background-color: rgba(54,93,150,1);
	background: -moz-linear-gradient(
		top,
		rgba(38,65,108,1) 0%,
		rgba(38,65,108,1));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(54,93,150,1)),
		to(rgba(54,93,150,1)));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid #003366;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(54,93,150,1);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(54,93,150,1);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(54,93,150,1);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(54,93,150,1);
}

.lightblue-button:hover {
	background-color: rgba(54,93,150,.5);
	background: -moz-linear-gradient(
		top,
		rgba(38,65,108,.5) 0%,
		rgba(38,65,108,.5));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(54,93,150,.5)),
		to(rgba(54,93,150,.5)));
}

.lightblue-button:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);f
}

.add-button {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 100%;
}
#delete-button {
	text-align: center;
	margin-top: 40px;
	margin-left: 35%;
}
.subform {
	background-color: rgba(38,65,108,1);
	padding: 10px;
	margin-top: 10px;
}

select {
	margin-right: 5px;
	margin-left: 2px;
}

legend {
	padding-bottom: 3px;
	font-style: italic;
}

#title-bar {
	width: 100%;
	height: 60px;
	background-color: rgba(54,93,150,1);
}

h1 {
	padding-left: 45px;
	margin-left: 30px;
	padding-top: 8px;
	font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
	font-weight: 200;
	color: #fff;
	font-size: 24pt;
	background-image: url('../images/dukemedical.png');
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 0px 8px;
	height: 43px;
	width: 200px;
}

h2 {
	text-align: center;
	font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
	font-weight: 200;
	color: rgba(54,93,150,1);
	font-size: 46px;
}

h3 {
	font-weight: 200;
	font-size: 18px;
	color: #fff;
}

h3.large {
	font-size: 36px;
}

.centered {
	text-align: center;
}

.align-right {
	text-align: right;
}


#page-title {
	width: 100%;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #fff;
}

#login-form {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	background-color: rgba(54,93,150,1);
	position: relative;
}

#login-input-fields {
	width: 315px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 55px;
	text-align: right;
}

.input-fields {
	text-align: right;
	padding-bottom: 10px;
}

#login-buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	width: 90%;
}

#newAccount-button {
	float: right;
	margin-right: 20px;
}

#go-button {
	float: right;
}

#container {
	background-color: rgba(38,65,108,1);
	width: 100%;
	padding-bottom: 50px;
}

#navbar {
	background-color: #fff;
	color: rgba(38,65,108,1);
	height: 65px;
}

#navbar ul {
	text-align: center;
}

#navbar li {
	display: inline-block;
	color: #fff;
	background-color: rgba(54,93,150,1);
	height: 42px;
	padding-top: 23px;
	text-align: center;
	width: 18%;
	margin-left: .5%;
	margin-right: .5%;
}

@media only screen and (max-width: 640px) {
	#navbar li {
		width: 112px;
	}
}

@media only screen and (max-width: 495px) {
	#navbar li {
		font-size: 12px;
	}
}

@media only screen and (max-width: 480px) {
	#navbar li {
		width: 22%;
	}
}


#subnav {
	width: 100%;
	height: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(54,93,150,1);
}

#subnav li {
	display: inline-block;
	color: #fff;
	text-align: center;
	margin-left: 2%;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}

#subnav ul:first-child {
	margin-left: 3%;
}

.activePage {
	background-color: rgba(38,65,108,1);
	color: #000;
}

#footer {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: rgba(54,93,150,1);
	text-align: center;
	margin-bottom: 5px;
}

.footer a:link, .footer a:visited {
	color: rgba(54,93,150,1);
	border-bottom: 1px solid #ddd;
}

.footer a:active, .footer a:hover {
	color: #ddd;
}

/* --------- */	

#newaccount-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#create-instructor {
	background-color: rgba(54,93,150,1);
	padding: 30px;
	width: 400px;
	margin: 40px;
	display: inline-block;
	vertical-align: top;
}

#create-student {
	background-color: rgba(54,93,150,1);
	padding: 30px;
	width: 400px;
	display: inline-block;
	margin: 40px;
	vertical-align: top;
}


/* --------- */		

#home-left {
	width: 45%;
	float: left;
	margin-left: 20px;
}

#home-middle {
	margin: 0 auto;
}

#appointments {
	background-color: rgba(54,93,150,1);
	width: 100%;
	display: inline-block;
	margin-left: 2.5%;
	margin-top: 50px;
	margin-right: 5%;
	padding: 15px;
	vertical-align: top;
	/* box-shadow: -2px 2px 5px rgba(0,0,0,.4); */
}

#home-feedback {
	background-color: rgba(54,93,150,1);
	width: 100%;
	display: block;
	margin-left: 2.5%;
	margin-top: 50px;
	padding: 15px;
	vertical-align: top;
	/* box-shadow: -2px 2px 5px rgba(0,0,0,.4); */
}


.landing-appointment {
	background-color: rgba(38,65,108,1);
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	list-style-type: none;
}

#recentNews {
	background-color: rgba(54,93,150,1);
	width: 34%;
	display: inline-block;
	margin-right: 35px;
	margin-top: 50px;
	padding: 15px;
	vertical-align: top;
	float: right;
	/* box-shadow: -2px 2px 5px rgba(0,0,0,.4); */
}

.landing-news-title {
	font-weight: 200;
	font-size: 14px;
	color: #f0f0f0;
}

.landing-news {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	list-style-type: square;
	margin-left: 20px;
}

#comments {
	background-color: rgba(54,93,150,1);
	width: 42%;
	display: block;
	margin-left: 5%;
	margin-right: 10%;
	margin-top: 50px;
	padding: 15px;
	vertical-align: top;
}

.landing-comments {
	background-color: rgba(38,65,108,1);
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	list-style-type: none;
}

.more-link {
	text-align: right;
}

.more-link a:link, .more-link a:visited {
	border-bottom: 1px solid #fff;
}

.more-link a:active {
	color: #ddd;
	border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 740px) {
	#home-left {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	
	#appointments {
		display: block;
		width: 325px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#home-feedback {
		width: 325px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#recentNews {
		width: 325px;
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: block;
	}
}

@media only screen and (min-width: 950px) {
	#home-container {
		width: 935px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#appointments {
		width: 420px;
	}
	
	#home-left {
		width: 425px;
	}
	
	#home-feedback {
		width: 420px;
	}
	
	#recentNews {
		width: 320px;
	}
}

/* --------- */		

#appointments-filters {
	text-align: center;
	margin-bottom: 25px;
}

#appointments-container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#appointments-appointments {
	background-color: rgba(54,93,150,1);
	padding-top: 15px;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.appointments-appointment {
	background-color: rgba(38,65,108,1);
	padding: 10px;
	margin-top: 3px;
	margin-bottom: 20px;
}

#add-appointments-container {
	background-color: rgba(54,93,150,1);
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 25px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

@media only screen and (max-width: 665px) {
	#appointments-appointments {
		width: 325px;
	}
	
	#appointments-container {
		width: 385px;
	}
	
	#appointments-container p {
		padding-left: 10px;
	}
}

@media only screen and (max-width: 420px) {
	#add-appointments-container {
		width: 300px;
	}
}

#add-appointments-form {
	width: 295px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.ui-datepicker {
	background-color: rgba(54,93,150,1);
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
	margin-left: 25px;
	display: none;
}

.ui-datepicker-next {
	float: right;
}

.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
	cursor: pointer;
	color: rgba(255,255,255,.5);
}

.ui-datepicker-next:active, .ui-datepicker-prev:active {
	color: rgba(38,65,108,1);
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-calendar td {
	padding: 5px;
	font-weight: 200;
}

.ui-datepicker-calendar th {
	font-weight: 600;
}

.ui-state-default:hover {
	color: rgba(255,255,255,.5);
}

.ui-state-default:active {
	color: rgba(38,65,108,1);
}

a.ui-state-default.ui-state-active {
	color: rgba(38,65,108,1);
}

/* --------- */		

#courses-container {
	width: 485px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

@media only screen and (max-width: 540px) {
	#courses-container {
		width: 90%;
	}
}

#courses-students {
	background-color: rgba(54,93,150,1);
	padding-top: 20px;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.courses-students-course {
	background-color: rgba(38,65,108,1);
	padding: 10px;
	margin-top: 20px;
}

.courses-students-instructors {
	float: right;
}

.courses-students-students {
	padding-top: 5px;
}

.courses-students-course:hover {
	background-color: rgba(38,65,108,.5);
}

.courses-students-course:active {
	opacity:0.4;
	filter:alpha(opacity=40);
}

#courses-instructors {
	background-color: rgba(54,93,150,1);
	padding-top: 20px;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.courses-instructors-course {
	background-color: rgba(38,65,108,1);
	padding: 10px;
	margin-top: 20px;
	padding-bottom: 15px;
}

.courses-instructors-instructors {
	float: right;
}

.courses-instructors-students {
	padding-top: 5px;
}


.courses-instructors-studentlink:hover {
	color: rgba(255,255,255,.5);
}

.courses-instructors-studentlink:active {
	color: rgba(0,0,0,.5);
}

.courses-instructors-addStudents, .courses-instructors-addInstructors {
	margin-top: 20px;
}

.courses-add-input {
	margin:0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border: 0;
	padding: 5px;
	vertical-align: top;
}

.courses-addStuInsButton {
	height: 28px;
	padding: 0;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0;
}

.searchHead, .searchHead.ui-state-default {
	padding-top: 15px;
	font-size: 14px;
	padding-left: 0;
	padding-bottom: 0;
}

.search:hover {
	cursor: pointer;
}

.result:hover {
	background-color: rgba(54,93,150,1);
	cursor: pointer;
}

.result:active {
	opacity:0.4;
	filter:alpha(opacity=40);
}

.result {
	padding: 10px;
	margin-top: 10px;
}

.result-icon {
	margin-right: 10px;
	float:left;
	width: 75px;
	background-color: rgba(0,0,0,.5);
}

.result-name {
	margin-top: 20px;
}

/* --------- */		

.addCourse-courseInfo {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.addCourse-subhead {
	margin-bottom: 10px;
}

/* --------- */	

#tabs {
	width: 60%;
	background-color: rgba(54,93,150,1);
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.tabs {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(38,65,108,1);
}

.tabs .ui-state-default {
	display: inline-block;
	padding: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: rgba(38,65,108,1);
}

.tabs .ui-tabs-active {
	background-color: rgba(54,93,150,1);
}

#tab-previousfeedback, #tab-leavefeedback, #tab-forms, #tab-appointment, #tab-removestudent {
	padding: 20px;
}

#tab-appointment-container {
	background-color: rgba(38,65,108,1);
	padding: 20px;
	width: 300px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#tab-forms #forms-feedback #previous-feedback-list li {
	width: 90%;
}

#pdfs {
	width: 45%;
	display: inline-block;
	background-color: #fff;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.embedded-doc {
	width: 100%;
	height: 600px;	
}

#forms-feedback {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

@media only screen and (max-width: 650px) {
	.tabs li {
		font-size: 12px;
	}
	
	.tabs {
		width: 352px;
	}
	
	#tabs {
		width: 352px;
	}
	
	#tab-appointment-container {
		width: 273px;
	}
	
	
	#tab-appointment-container #add-appointments-form {
		width: 250px;
	}
	
	
	#tab-appointment-container #add-appointments-form div.input-fields input {
		width: 150px;
	}
}

@media only screen and (min-width: 650px) {
	#tabs {
		width: 625px;
	}
}

@media only screen and (min-width: 850px) {
	#tabs {
		width: 825px;
	}
	
	#pdfs {
		margin-right: 40px;
	}
}

@media only screen and (min-width: 1020px) {
	#tabs {
		width: 1000px;
	}
	
	#pdfs {
		margin-right: 40px;
	}
}

#previous-feedback-list {
	margin-top: 20px;
	margin-bottom: 20px;
}

#previous-feedback-list li {
	background-color: rgba(38,65,108,1);
	padding: 20px;
	margin-top: 20px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.comment {
	background-image: url('../images/comment1.png'), url('../images/comment2.png');
	background-position: left top, right top;
	background-repeat: no-repeat;
	background-size: 13px;
	padding-left: 17px;
	padding-right: 25px;
	padding-top: 4px;
	margin-top: 10px;
}

#previous-feedback-list li:first-child {
	margin-top: 0;
}

.title {
	font-size: 18px;
}

.author {
	font-style: italic;
	margin-top: 5px;
	text-align: right;
}

#feedback-form {
	padding-top: 20px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.feedback-textarea {
	font-family: source sans pro, helvetica, arial, sans-sesrif;
	margin-top: 10px;
	font-weight: 200;
	padding: 5px;
	width: 350px;
	height: 200px;
}

.feedback-input {
	width: 300px;
}

#feedback-container {
	width: 430px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#feedback-students {
	background-color: rgba(54,93,150,1);
	padding-top: 20px;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

#feedback-students-filters {
	text-align: center;
	margin-top: 10px;
}

#feedback-students-filters p {
	margin-bottom: 10px;
}

.filter-button {
	margin-bottom: 10px;
	margin-right: 5px;
}

@media only screen and (max-width: 664px) {
	#previous-feedback-list li {
		width: 80%;
	}
}

@media only screen and (max-width: 495px) {
	#feedback-container {
		width: 90%;
	}
}

@media only screen and (max-width: 650px) {
	#feedback-form {
		width: 300px;
	}
	
	.feedback-input {
		width: 230px;
	}
	
	.feedback-textarea {
		width: 280px;
	}
	
	#forms-feedback {
		display: block;
		width: 100%;
	}
	
	#pdfs {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

/* --------- */

#newsfeed-container {
	margin-top: 50px;
	background-color: rgba(54,93,150,1);
	padding: 20px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#newsfeed-list {
	margin-top: 20px;
}

#newsfeed-list li, li.newsfeed-item {
	padding: 20px;
	margin-top: 20px;
	background-color: rgba(38,65,108,1);
}

#newsfeed-list li:first-child {
	margin-top: 0;
}

#newsfeed-list li:hover {
	background-color: rgba(38,65,108,.5);
}

#newsfeed-list li:active {
	opacity:0.4;
	filter:alpha(opacity=40);
}

#add-article-form {
	width: 400px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.addNews-input {
	width: 300px;
}

#addNews-container {
	margin-top: 50px;
	background-color: rgba(54,93,150,1);
	padding: 20px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 1020px) {
	#newsfeed-container {
		width: 543px;
	}
}

@media only screen and (max-width: 585px) {
	#newsfeed-container {
		width: 325px;
	}
}

@media only screen and (max-width: 535px) {
	#addNews-container {
		width: 325px;
	}
	
	.addNews-input {
		width: 200px;
	}
	
	#add-article-form {
		width: 300px;
	}
}

/* --------- */

#footer2 {
	margin-bottom: 0;
	padding: 10px;
	margin-top: 100px;
	padding-bottom: 20px;
}

.footer2 {
	color: #fff;
	text-align: center;
	font-size: 10px;
}
